<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.xhtml</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
    	<servlet-name>UserLogin</servlet-name>
    	<servlet-class>servlet.UserLogin</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>UserLogin</servlet-name>
    	<url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>HelloWorldServlet</servlet-name>
    	<servlet-class>servlet.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>HelloWorldServlet</servlet-name>
    	<url-pattern>/HelloWorldServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>TestGetServletContext</servlet-name>
    	<servlet-class>servlet.TestGetServletContext</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>TestGetServletContext</servlet-name>
    	<url-pattern>/TestGetServletContext</url-pattern>
    </servlet-mapping>
    <context-param>
    	<param-name>encoding</param-name>
     	<param-value>UTF-8</param-value>
    </context-param>
    
    <servlet>
    	<servlet-name>TestServletConfig</servlet-name>
    	<servlet-class>servlet.TestServletConfig</servlet-class>
    	<init-param>
	     	<param-name>encoding</param-name>
	     	<param-value>UTF-8</param-value>
     	</init-param>
    </servlet>
    <servlet-mapping>
    	<servlet-name>TestServletConfig</servlet-name>
    	<url-pattern>/TestServletConfig</url-pattern>
    </servlet-mapping>
    
	<servlet>
    	<servlet-name>UserRegist</servlet-name>
    	<servlet-class>servlet.UserRegist</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>UserRegist</servlet-name>
    	<url-pattern>/UserRegist</url-pattern>
    </servlet-mapping>
    
	<servlet>
    	<servlet-name>CheckCode</servlet-name>
    	<servlet-class>servlet.CheckCode</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>CheckCode</servlet-name>
    	<url-pattern>/CheckCode</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>UserUpdate</servlet-name>
    	<servlet-class>servlet.UserUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>UserUpdate</servlet-name>
    	<url-pattern>/UserUpdate</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>Index</servlet-name>
    	<servlet-class>servlet.Index</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Index</servlet-name>
    	<url-pattern>/Index</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>NewsDetail</servlet-name>
    	<servlet-class>servlet.NewsDetail</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>NewsDetail</servlet-name>
    	<url-pattern>/NewsDetail</url-pattern>
    </servlet-mapping>
    
    <filter>
    	<display-name>CharacterEncodingFilter</display-name>
    	<filter-name>CharcterEncodingFilter</filter-name>
    	<filter-class>filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>CharcterEncodingFilter</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
    	<display-name>SecurityFilter</display-name>
    	<filter-name>SecurityFilter</filter-name>
    	<filter-class>filter.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>SecurityFilter</filter-name>
    	<url-pattern>/user/center.jsp</url-pattern>
    </filter-mapping>
</web-app>
